@include b(main-box){
  text-align: center;
  @include e(pdt200){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p{
    line-height: 30px;
    padding: 20px 0;
  }
  button{
    padding: 10px 30px;
  }
}