.bg_icon{
  background: url(../../../assets/images/qbicon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.icon404{
  background-position:  -55px -362px;
  width: 280px;
  height: 145px;
}

.icon-one{
  background-position:  -6px -8px;
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
}
.icon-two{
  background-position:  -64px -8px;
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
}
.icon-three{
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
  background-position:-124px -8px;
}
.icon-six{
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
  background-position:-300px -8px;
}
.qb-icon-success {
  width: 84px;
  height: 80px;
  display: table-cell;
  background-position: -4px -140px;
}
.qb-icon-fail{
  width: 84px;
  height: 80px;
  display: table-cell;
  background-position: -90px -140px;
}

.qb-nodate-g{
  width: 150px;
  height: 120px;
  background-position: -5px -232px;
}

.qb-icon-active{
  width: 84px;
  height: 80px;
  background-position: -4px -140px;
}
.qb-icon-checking{
  width: 84px;
  height: 80px;
  background-position: -4px -522px;
}
.qb-icon-verify{
  width: 70px;
  height: 87px;
  background-position: -186px -144px;
}
.qb-icon-pay{
  width: 72px;
  height: 80px;
  background-position: -275px -150px;
}
.qb-icon-failure{
  width: 84px;
  height: 80px;
  background-position: -90px -140px;
}
.qb-icon-loading{
  width: 77px;
  height: 72px;
  background-position: -274px -72px;
}
.qb-icon-qrcode{
  background-position:  -183px -8px;
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
}
.qb-icon-qrquery{
  background-position: -242px -8px;
  width: 51px;
  height: 51px;
  margin-bottom: 5px;
}
