@font-face {
  font-family: 'qb-icon';
  src: url("../fonts/qb-icon.eot?quz9nq");
  src: url("../fonts/qb-icon.eot?quz9nq#iefix") format("embedded-opentype"), url("../fonts/qb-icon.ttf?quz9nq") format("truetype"), url("../fonts/qb-icon.woff?quz9nq") format("woff"), url("../fonts/qb-icon.svg?quz9nq#qb-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="qb-icon-"], [class*=" qb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'qb-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.qb-icon-download:before {
  content: "\e639"; }

.qb-icon-delete:before {
  content: "\e648"; }

.qb-icon-account:before {
  content: "\e64d"; }

.qb-icon-home:before {
  content: "\e64e"; }

.qb-icon-instead:before {
  content: "\e64f"; }

.qb-icon-payment:before {
  content: "\e650"; }

.qb-icon-other:before {
  content: "\e651"; }

.qb-icon-other1:before {
  content: "\e652"; }

.qb-icon-credit:before {
  content: "\e653"; }

.qb-icon-username:before {
  content: "\e654"; }

.qb-icon-quit:before {
  content: "\e655"; }

.qb-icon-password:before {
  content: "\e656"; }

.qb-icon-choose:before {
  content: "\e657"; }

.qb-icon-close:before {
  content: "\e658"; }

.qb-icon-calendar:before {
  content: "\e659"; }

.qb-icon-bell:before {
  content: "\e65a"; }

.qb-icon-back:before {
  content: "\e65b"; }

.qb-icon-add:before {
  content: "\e65c"; }

.qb-icon-delete1:before {
  content: "\e65d"; }

.qb-icon-delete2:before {
  content: "\e65e"; }

.qb-icon-delete3:before {
  content: "\e65f"; }

.qb-icon-details:before {
  content: "\e660"; }

.qb-icon-search:before {
  content: "\e661"; }

.qb-icon-open:before {
  content: "\e662"; }

.qb-icon-code:before {
  content: "\e663"; }

.qb-icon-eye-close:before {
  content: "\e664"; }

.qb-icon-OK:before {
  content: "\e665"; }

.qb-icon-report:before {
  content: "\e666"; }

.qb-icon-report1:before {
  content: "\e667"; }

.qb-icon-user:before {
  content: "\e668"; }

.qb-icon-icon-yellow:before {
  content: "\e669"; }

.qb-icon-icon-blue:before {
  content: "\e66a"; }

.qb-icon-home-thin:before {
  content: "\e673"; }

.qb-icon-choose1:before {
  content: "\e677"; }

.qb-icon-xiugaimima:before {
  content: "\e678"; }

.qb-icon-jibenxinxi:before {
  content: "\e679"; }

.qb-icon-menu-message-thin:before {
  content: "\e67a"; }

.qb-icon-menu-lock-thin:before {
  content: "\e67b"; }

.qb-icon-rob-icon-plus:before {
  content: "\e67c"; }

.qb-icon-open1:before {
  content: "\e67d"; }

.qb-icon-angle-down:before {
  content: "\e67e"; }

.qb-icon-angle-up:before {
  content: "\e67f"; }

.qb-icon-icon-menu:before {
  content: "\e680"; }

.qb-icon-icon-left:before {
  content: "\e681"; }

.qb-icon-icon-right:before {
  content: "\e682"; }

.qb-icon-icon-right1:before {
  content: "\e683"; }

.qb-icon-icon-left1:before {
  content: "\e684"; }

.qb-icon-enterprise-financing:before {
  content: "\e685"; }

.qb-login-bj {
  background: url("../../../assets/images/bg_login.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute; }

.qb-login-box-g {
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 1120px;
  max-height: 450px;
  z-index: 104; }

.qb-login-g {
  padding: 0;
  border: none;
  width: 40%;
  margin: 0;
  float: right;
  background: #fff;
  max-width: 350px;
  max-height: 500px; }
  .qb-login-g__login-h3 {
    color: #393939 !important;
    font-weight: 400;
    font-size: 22px !important;
    margin: 0 !important;
    padding: 13px 0 !important;
    border-bottom: 1px solid #eaecee; }
  .qb-login-g__login-password {
    right: 20px !important; }
  .qb-login-g form {
    padding: 30px 45px 0 45px; }
  .qb-login-g .rob-form-group {
    margin-bottom: 18px; }
  .qb-login-g .rob-has-icon-left .rob-is-icon-left {
    top: 5px;
    font-size: 14px;
    cursor: inherit; }
  .qb-login-g .rob-input-has-error .rob-is-icon-left {
    color: #cc1612; }
  .qb-login-g .rob-has-icon-right .rob-is-icon-right {
    top: 5px;
    right: 0;
    color: #dddddd; }
    .qb-login-g .rob-has-icon-right .rob-is-icon-right:hover {
      color: #393939; }
  .qb-login-g input:-webkit-autofill {
    background-color: #FAFFBD;
    background-image: none;
    color: #000; }
  .qb-login-g .rob-has-icon-left .rob-input {
    padding-left: 30px;
    font-size: 18px;
    height: 34px; }
  .qb-login-g .rob-input-line .rob-input:focus + .rob-input-line-border {
    border-color: #c2c2c2; }
  .qb-login-g .rob-input-line {
    padding: 0;
    border-color: #cfcfcf; }
    .qb-login-g .rob-input-line:hover {
      border-color: #999999; }
    .qb-login-g .rob-input-line .rob-is-icon-left {
      left: 0;
      padding: 6px 0; }
  .qb-login-g .rob-input-has-error.rob-input-line {
    border-color: #cc1612; }
  .qb-login-g .rob-code-img {
    position: absolute;
    top: 2px;
    right: 0;
    height: 30px; }
    .qb-login-g .rob-code-img img {
      position: relative;
      z-index: 999;
      cursor: pointer;
      right: 0;
      height: 100%;
      width: 80px; }
  .qb-login-g .rob-form-group button {
    margin-top: 15px;
    width: 100%;
    height: 38px;
    box-shadow: 0px 8px 20.2px 3.8px rgba(204, 22, 18, 0.33); }
  .qb-login-g .rob-form-group .rob-panel-button {
    padding: 0; }
  .qb-login-g .rob-login-entries {
    padding: 0 15px 20px 15px;
    margin-top: 30px;
    text-align: center; }
    .qb-login-g .rob-login-entries .list-tag {
      font-size: 12px;
      color: #cfcfcf;
      margin-top: 3px; }
    .qb-login-g .rob-login-entries ul {
      display: inline-block; }
      .qb-login-g .rob-login-entries ul li {
        float: left;
        display: inline;
        padding: 5px; }
        .qb-login-g .rob-login-entries ul li a {
          font-size: 12px;
          color: #393939; }
          .qb-login-g .rob-login-entries ul li a:hover {
            color: #cc1612; }
  .qb-login-g .rob-login-password-padding-right {
    padding-right: 50px; }
  .qb-login-g .rob-login-code-padding-right {
    padding-right: 100px; }

.qb-login-name-g {
  color: #fff;
  width: 58%;
  float: left;
  margin-top: 100px;
  line-height: 45px;
  padding-left: 15%; }
  .qb-login-name-g h3 {
    font-size: 35px;
    line-height: 70px;
    font-weight: 400; }
  .qb-login-name-g__ft2 {
    font-size: 18px;
    border-bottom: 2px solid #f7696c;
    padding-bottom: 24px;
    letter-spacing: 2.3px; }
  .qb-login-name-g__ft3 {
    font-size: 12px;
    margin-top: 23px; }

::-webkit-input-placeholder {
  color: #aaaaaa !important;
  font-size: 12px;
  vertical-align: middle;
  line-height: normal;
  padding-top: 4px; }

@media screen and (min-width: 850px) and (max-width: 992px) {
  .qb-login-name-g {
    padding-left: 0; } }

@media screen and (max-width: 850px) {
  .qb-login-g {
    width: 100%;
    margin: auto;
    float: initial; }
  .qb-login-name-g {
    color: #fff;
    line-height: 30px;
    max-width: 350px;
    margin: auto;
    float: initial;
    padding: 0;
    width: 100%; }
  .qb-login-name-g h3 {
    font-size: 24px; }
  .qb-login-name-g__ft2 {
    padding-bottom: 5px;
    font-size: 16px; }
  .qb-login-box-g {
    max-height: 100%;
    margin-top: 65px; } }

@media screen and (max-width: 700px) {
  .qb-login-name-g {
    width: 100%;
    padding-left: 0; }
  .qb-login-box-g {
    max-height: 100%;
    margin-top: 65px; } }

.rob-login-password-padding-right::-webkit-input-placeholder, .rob-login-code-padding-right::-webkit-input-placeholder {
  font-size: 14px; }

.rob-login-password-padding-right::-moz-placeholder, .rob-login-code-padding-right::-moz-placeholder {
  font-size: 14px; }

.rob-login-password-padding-right::-moz-placeholder, .rob-login-code-padding-right::-moz-placeholder {
  font-size: 14px; }

.rob-login-password-padding-right:-ms-input-placeholder, .rob-login-code-padding-right:-ms-input-placeholder {
  font-size: 14px !important; }

.rob-login-password-padding-right:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #333; }

input::-webkit-search-cancel-button {
  display: none; }

input[type=text]::-ms-clear, input[type=text]::-ms-reveal {
  display: none; }

.rob-has-icon-right .rob-input {
  padding-right: 20px; }

.rob-select .bd-bottom {
  border-radius: 0;
  padding-left: 30px;
  font-size: 14px;
  line-height: 25px; }

.rob-select .bd-bottom:focus, .rob-select .bd-bottom:hover {
  box-shadow: none; }
