.ui-con-box h2{
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}
.ui-con-box h3{
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
}
.ui-con-box h5{
    font-size: 14px;
    font-weight: normal;
    color: #666666;
    line-height: 40px; 
    margin-bottom: 20px;   
}
.ui-message-show{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #eaeaea;
    position: relative
   
}
.ui-msg-col{
    color: #036eff;
    padding: 40px 20px;

}
.ui-msg-col span{
    cursor: pointer;
}
.ui-message-show-code{
    color: #9e9e9e;
    margin: 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
    padding: 20px;
    cursor: pointer;
}
.ui-message-show-code:hover{
color: #036eff;
background: #f4f4f4;
}
.ui-meta{
    background-color: #fafafa;
    border-top: solid 1px #eaeefb;
    transition: height .2s; 

}
.ui-description{
    padding: 20px;
    box-sizing: border-box;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    font-size: 14px;
    line-height: 26px;
    color: #666;
    word-break: break-word;
    margin: 10px;
    background-color: #fff;
}
.ui-highlight-code{
    padding: 20px;
    background: #f9f9f9;
}
.active{
    color: #006cff;
}